{% extends "base.html" %}

{% block title%} Register {%endblock title%}
{% block body%}

<center><br>
<h2>Ваш профиль</h2><br>
    <div class="table table-striped" style="width: 40rem;">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <td><h3> <center>Логин: </center></h3></td> 
                        <td><h3><center><b>{{user}}</b></center></h3></td>
                    </div>
                    </tr>
                <tr>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <td><h3> <center>Группа: </center></h3></td> 
                    <td><h3><center><b>{{user.groups.all.0.name}}</b></center></h3></td>
                </div>
                </tr>
                <tr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <td><h3> <center>Имя: </center></h3></td> 
                        <td><h3><center><b>{{user.first_name}}</b></center></h3></td>
                    </div>
                </tr>
                <tr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <td><h3> <center>Фамилия: </center></h3></td> 
                        <td><h3><center><b>{{user.last_name}}</b></center></h3></td>
                    </div>
                </tr>
                <tr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <td><h3> <center>E-Mail: </center></h3></td> 
                        <td><h3><center><b>{{user.email}}</b></center></h3></td>
                    </div>
                </tr>
                <tr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <td><h3> <center>Телефон:  </center></h3></td> 
                        <td><h3><center><b>{{user.}}</b></center></h3></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{% url 'change-password' %}" class = 'btn btn-outline-dark'> Изменить пароль </a>

</center>



{% endblock body%}
