{% extends "base.html" %}
{% block title%} :: Directories :: {%endblock title%}
{% block body%}
<br>
<div class="table table-bordered">
  <table class="table table-bordered">
      <thead>
    <tr>
        <th colspan="4"><center><h2><b> Список справочников </b></h2></center></th>

    </tr>
     </thead>
      <tbody>
    <tr>
        <th colspan="4">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'authors' %}" class = 'btn btn-outline-secondary'> Авторы книг </a>
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="4">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'publishers' %}" class = 'btn btn-outline-secondary'> Издательства </a>
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="4">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'genres' %}" class = 'btn btn-outline-secondary'> Жанры </a>
            </div>
        </th>
    </tr>
            <th colspan="4">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'series' %}" class = 'btn btn-outline-secondary'> Серии книг </a>
            </div>
        </th>
  </tbody>

  </table>
</div>
{%endblock body%}