

    <h1>Жанры - Страница для группы "Managers"</h1><br>
    <ul>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Жанры</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in object_list %}
            <tr> 
              <th scope="row">{{forloop.counter}}.</th>
              <td><a href="{% url 'genre' genre.id %}">
                <h5 class="card-title">{{ genre }}</h5></a></td>
              <td>
                  <a href="{% url 'genres-update' genre.id %}" class = 'btn btn-sm btn-secondary' >
                      Редактировать 
                   </a>
               </td>
              <td>
                    <a href="{% url 'genres-delete' genre.id %}" class="btn btn-sm btn-danger">
                        Удалить 
                    </a>
              </td>
            </tr>
            {% endfor %}
    </table>
    
    <br>
    <br>
        <a href="{% url 'directories' %}" class="btn btn-sm btn-outline-secondary"> Назад к справочникам </a>
        <a href="{% url 'genres-create' %}" class="btn btn-sm btn-success"> Добавить жанр </a>
    </ul>
