{% extends "base.html" %}
    {% block title%} :: Genres :: {%endblock title%}
    {% block body%}

    {%if user.groups.all.0.name == "Managers" or user.is_superuser %}
        {% include "./genres-managers.html" %}
    {%elif user.is_anonymous or user.groups.all.0.name == "Customers"%}

    <br>
    <div class="table table-bordered">
      <table class="table table-bordered">
          <thead>
        <tr>
            <th colspan="4"><center><h2><b> Жанры </b></h2></center></th>
    
        </tr>
         </thead>
         <tbody>
            {% for genre in object_list %}
            <tr>
                <th colspan="4">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="{% url 'genre' genre.id %}" class = 'btn btn-outline-secondary'> {{ genre }} </a>
                    </div>
                </th>
            </tr>
            {% endfor %}
        </tbody>

        </table>
    </div>

    {%endif%}
{%endblock body%} 