{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} :: Genre update :: {%endblock title%}
{% block body%}
    <h1>Редактировать выбранный Жанр</h1>
    <ul>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
                <a href="{% url 'genres' %}" class="btn btn-outline-secondary"> Назад к списку Жанры </a>
                <input type="submit" class="btn btn-warning" value="Обновить">
        </form>

    </ul>
{%endblock body%}