{% extends "base.html" %}
{% block title%} :: Publishers :: {%endblock title%}
{% block body%}

    <h1>Справочник Издательств</h1>
    <ul>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Detail</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in object_list %}
            <tr>
              <th scope="row">{{forloop.counter}}.</th>
              <td><a href="{% url 'publisher' publisher.id %}">
                <h5 class="card-title">{{ publisher }}</h5></a></td>
              <td>
                  <a href="{% url 'publishers-update' publisher.id %}" class = 'btn btn-sm btn-secondary' >
                      Редактировать 
                   </a>
                    </button>
               </td>
              <td>
                    <a href="{% url 'publishers-delete' publisher.id %}" class="btn btn-sm btn-danger">
                        Удалить 
                    </a>
              </td>
            </tr>
            {% endfor %}
    </table>
    
    <br>
    <br>
        <a href="{% url 'directories' %}" class="btn btn-sm btn-outline-secondary"> Назад к справочникам </a>
        <a href="{% url 'publishers-create' %}" class="btn btn-sm btn btn-success"> Добавить Издательство </a>
    </ul>
{%endblock body%}