{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} :: Seria create :: {%endblock title%}
{% block body%}
    <h1>Добавление в справочник новой Серии</h1>
    <ul>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
                <a href="{% url 'series' %}" class='btn btn-outline-secondary'>  Назад в справочник Серий </a>
                <input type="submit" class='btn btn-outline-success' value="Добавить">
        </form>
    </ul>
{%endblock body%}