{% extends "base.html" %}
{% load comment_book_tags %}
{% block title%} :: About Book :: {%endblock title%}
{% block body%}

<svg style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>
        {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}

<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ book.picture.url }}" class='card-img-top' alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <font color="black" face="Arial">
          <h5 class="card-title">{{ book.name }} /  
            {% for author in book.author.all%}
              {{author}}
            {%endfor%}</h5>
          <p class="card-text">
            <b>Цена: </b>{{ book.price }} BYN<br>
            {{ book.seria }}<br>
            {{ book.genre }}<br>
            <b>Год:</b> {{ book.year }}<br>
            <b>Страниц:</b> {{ book.pages }}<br>
            <b>Переплет: </b>{{ book.binding }}<br>
            <b>Формат: </b>{{ book.form }}<br>
            <b>ISBN: </b>{{ book.isbn }}<br>
            <b>Вес: </b>{{ book.weight }}<br>
            <b>Возрастное ограничение </b>{{ book.age }}+<br>
            {{ book.publisher }}<br>
            <b>Количество книг: </b>{{ book.quantity }}<br>
              {% if book.avtive == True and book.quantity != 0%}
                <b><em>Заказ АКТИВЕН</b></em><br>
              {%else %}
                <b>Заказ НЕАКТИВЕН </b><br>
              {%endif%}
            <b>Рейтинг: </b>{{ book.rating }}<br>
          </p>
          <p class="card-text"><small class="text-muted">
            <b>Дата внесения:</b> {{ book.created }}<br>
            <b>Дата последнего редактирования: </b>{{ book.updated }}
          </small></p>
        </font>
        </div>
      </div>
    </div>
  </div>
    
  <a href="{% url 'books' %}" class="btn btn-sm btn-outline-secondary"> К списку книг </a>
  {%if user.is_anonymous or user.groups.all.0.name == "Customers" %}
  <a href="{% url 'carts:cart-edit' %}?book_id={{ book.pk }}" class="btn btn-sm btn-warning"'>Добавить в корзину </a>
  {%endif%}

  {%if user.is_anonymous%}
    <br><br>
    <h6><i>Зарегистрируйтесь или войдите в свой аакаунт, чтобы можно было оставить отзыв и рейтинг.</i></h6>
  {% else %}
    {% if not messages %}
        {% include "./raiting.html" %}
    {%endif%}
    {% show_comments_book %}
  {%endif%}

{%endblock body%}