{% extends "base.html" %}
{% block title%} :: My Bookstore :: {%endblock title%}
{% block body%}

<svg style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>
        {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}

<main>
  {%if promo1 and promo2 and promo3%}
    {% include "./carousel.html" %}
  {%endif%}
  <br>

    <div class="p-3 mb-2 bg-dark bg-gradient text-white">
      <h1 style="color:hsl(60, 33%, 97%);"><center><p style='font-family: Times, Times New Roman, serif'  ><b>Топ-3: Рейтинг популярных книг</b></p></center></h1>
    </div>
  
         <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<center>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {%for raiting in raitings%}
      
      <div class="col-lg-4">
        <img src="{{ raiting.picture.url }}" class="bd-placeholder-img rounded-circle" width="180" height="180"  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" ><rect width="100%" height="100%" fill="#777"/></img>
        
        <h2>{{raiting.rating}}/10,0</h2>
        <p>{% for author in raiting.author.all%}
          {{author}}
          {%endfor%} <br><b>"{{raiting.name }}"</b></p>
        <p><a class="btn btn-secondary" href="{% url 'book' raiting.pk %}">Подробнее &raquo;</a></p>
      
      </div><!-- /.col-lg-4 -->
      {%endfor%}

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</center>
    <br>
    <hr class="featurette-divider">
    <div class="p-3 mb-2 bg-dark bg-gradient text-white" role="alert">
       <h1 style="color:hsl(60, 33%, 97%);"><center><p style='font-family: Times New Roman'><b>Последние новинки книг</b> </p> </center></h1>
    </div>
    
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    {%for book in books%}
    {% if forloop.counter == 2 %}
    <div class="row featurette">
      <div class="col-md-7">
        <br><br><br>
        <h2 class="featurette-heading">"{{book.name}}" <br> <span class="text-muted">
          {% for author in book.author.all%}
          {{author}}
          {%endfor%}
        </span></h2>
        <p class="lead"><b>Год издания: </b>{{book.year}}<br>
                        <b>Дата поступления книги в магазин: </b> {{book.created}}<br>
                        <p><a href="{% url 'book' book.pk %}" class="btn btn-secondary" href="#">Подробнее... &raquo;</a></p>
        </p>
      </div>
      <div class="col-md-5">
        <img src="{{ book.picture.url }}" class='card-img-top' alt="..." > 
      </div>
    </div>

    <hr class="featurette-divider">
    {%endif%}
    {% if forloop.counter != 2 %}
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <br><br><br>
        <h2 class="featurette-heading">{{book.name}} <br> <span class="text-muted">
          {% for author in book.author.all%}
          {{author}}
          {%endfor%}
        </span></h2>
        <p class="lead"><b>Год издания: </b>{{book.year}}<br>
                        <b>Дата поступления книги в магазин: </b> {{book.created}}<br>
                        <p><a href="{% url 'book' book.pk %}" class="btn btn-secondary" href="#">Подробнее... &raquo;</a></p></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{ book.picture.url }}" class='card-img-top' alt="..." >
      </div>
    </div>

    <hr class="featurette-divider">
    {%endif%}
    {%endfor%}
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  
{%endblock body%}