{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%} :: Promo create :: {%endblock title%}
{% block body%}
    <h1>Добавть новую акцию</h1>
    <ul>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <a href="{% url 'promo' %}" class='btn btn-outline-dark'> Отмена </a>
            <input type="submit" class='btn btn-outline-success' value="Добавить">
        </form>
    </ul>
{%endblock body%}